1° Importar o pandas

In [11]:
import pandas as pd

2° dados.columns ou use o da aula passada, ou abra o csv no Excel

In [12]:
url = "dataset/aluguel.csv"
dados = pd.read_csv(url,sep=";")
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [13]:
dados.describe()

,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
count,32960.000000,32960.000000,32960.000000,32960.000000,3.294300e+04,2.886700e+04,2.272300e+04
mean,1.771390,1.749059,0.665777,231.901547,1.295266e+04,2.388062e+03,2.364410e+03
std,1.717869,20.380402,1.176525,1135.254152,6.675220e+05,3.918496e+04,1.795641e+05
min,0.000000,0.000000,0.000000,0.000000,7.500000e+01,1.000000e+00,1.000000e+00
25%,0.000000,0.000000,0.000000,55.000000,1.500000e+03,5.900000e+02,1.100000e+02
50%,2.000000,1.000000,0.000000,87.000000,2.800000e+03,9.900000e+02,2.500000e+02
75%,3.000000,2.000000,1.000000,170.000000,6.500000e+03,1.800000e+03,6.970000e+02
max,100.000000,1966.000000,70.000000,90000.000000,1.200000e+08,6.552570e+06,2.705307e+07

3° escolher algumas colunas

In [14]:
dados.columns

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

4° criar a classe

In [15]:
class Imoveis:
    def __init__(self,tipo,bairro,quartos):
        self.tipo = tipo
        self.bairro = bairro
        self.quartos = quartos
    def impre(self):
        return print(self.tipo, self.bairro, self.quartos)

5° criar objeto (usar -passe os valores dos imoveis e mostre)

In [16]:
imovel1 = Imoveis("quitinete","Guara",0)
imovel1.impre()

quitinete Guara 0

In [17]:
imovel2 = Imoveis("apartamento","Taguatinga",2)
imovel2.impre()

apartamento Taguatinga 2

In [18]:
imovel3 = Imoveis("casa","Brazlandia",3)
imovel3.impre()

casa Brazlandia 3

Gabarito - Resposta - Duvidas - Questões

1 - Escolha as colunas

    - suite
    - vagas
    - iptu

In [30]:
class Imovel():
    def __init__(self,suites,vagas,IPTU):
        self.suites = suites
        self.vagas = vagas
        self.iptu = IPTU

2 - Simulando três imoveis

In [31]:
im1 = Imovel(2,3,678.56)
im2 = Imovel(1,1,520.49)
im3 = Imovel(0,1,120.89)

In [36]:
print(f"suites: {im1.suites}\nvagas: {im1.vagas}\niptu: {im1.iptu}")

suites: 2
vagas: 3
iptu: 678.56

In [37]:
print(f"suites:{im2.suites}\nvagas:{im2.vagas}\niptu:{im2.iptu}")

suites:1
vagas:1
iptu:520.49

In [38]:
print(f"suites:{im3.suites}\nvagas:{im3.vagas}\niptu:{im3.iptu}")

suites:0
vagas:1
iptu:120.89

In [ ]:
dados.describe()

,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
count,32960.000000,32960.000000,32960.000000,32960.000000,3.294300e+04,2.886700e+04,2.272300e+04
mean,1.771390,1.749059,0.665777,231.901547,1.295266e+04,2.388062e+03,2.364410e+03
std,1.717869,20.380402,1.176525,1135.254152,6.675220e+05,3.918496e+04,1.795641e+05
min,0.000000,0.000000,0.000000,0.000000,7.500000e+01,1.000000e+00,1.000000e+00
25%,0.000000,0.000000,0.000000,55.000000,1.500000e+03,5.900000e+02,1.100000e+02
50%,2.000000,1.000000,0.000000,87.000000,2.800000e+03,9.900000e+02,2.500000e+02
75%,3.000000,2.000000,1.000000,170.000000,6.500000e+03,1.800000e+03,6.970000e+02
max,100.000000,1966.000000,70.000000,90000.000000,1.200000e+08,6.552570e+06,2.705307e+07