In [2]:
print('Alo mundo!')

Alo mundo!

Exercício:

Criar uma classe Produto
Com uma função para calcular o valor total desse produto.

### Lista de Regras

- A classe é um conjunto de objetos;
- A classe agrupa objetos em comum;
- A classe possui um contrutor;  __init__
- As caracteristicas dos objeots são atributos;
- O self acessa as caracteristicas e comportamento da classse
- Os metodos de trabalho (workes -Oziel Moreira Neto): São métodos para calcular, desenvolver a lógica de programação.

In [3]:
class Produto:
    def __init__(self,qtde,preco):
        self.qtde = qtde
        self.preco = preco


    def calcular_total(self):
        return self.qtde * self.preco

In [4]:
p = Produto(qtde=10,preco=10) # passagem de paramentros por valor 

print(f"O valor total de melancias é: {p.calcular_total()}")

O valor total de melancias é: 100

### Desáfio:

- Analize o dataset aluguel.csv da aula passada.
- E crie um classe que representará o arquivo.
- Crie três imoveis (objetos) que estão no dataset

In [5]:
import pandas as pd

url = "dataset/aluguel.csv"
dados = pd.read_csv(url,sep=";")
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [6]:
class Imoveis:
    def __init__(self,tipo,quartos,valor):
        self.tipo = tipo
        self.quartos = quartos
        self.valor = valor
    def impressao(self):
        return print(self.tipo,self.quartos,self.valor)

In [7]:
p = Imoveis(tipo="Apartamento",quartos="2",valor=100000)
print(p.impressao())

Apartamento 2 100000
None